*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-background;
    color: $color-text;

    font-family: $font-stack-base;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none;
    color: $color-primary
}

button, input, select, textarea {
    font: inherit;
}